body {
    background-color: gainsboro;
}

.user {
    margin: 1em;
    padding: 1em;
    background-color: tomato;
    color: white;
    border-radius: 1em;
    letter-spacing: 0.015em;
    line-height: 1em;
}

img {
    border-radius: 50%;
}

#app {
    text-align: center;
    margin: 0 auto;
}